@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<html>
<head>
    <title>JavasScript DataTypes</title>
    <style>
        button{
            padding: 10px;
        }

        .greenButton{
            background-color: #00ff21;
        }

        .redButton {
            background-color: #ff0000;
        }
    </style>
</head>
<body>
    <button id="button1" name="testButton1" class="btn greenButton">Click me!</button>
    <button id="button2" name="testButton2" class="btn greenButton">Click me!</button>
    <button id="button3" name="testButton3" class="btn greenButton">Click me!</button>
    <button name="testButton4" class="btn greenButton">Click me!</button>
    <button name="testButton5" class="btn greenButton">Click me!</button>
    <button name="testButton6" class="btn greenButton">Click me!</button>
    <button name="testButton7" class="btn greenButton">Click me!</button>

    <table >
        <thead>
            <tr>
                <td>Button Name</td><td>Clicked On</td>
            </tr>
        </thead>
        <tbody id="sampleTable">

        </tbody>
    </table>
    <script src="~/dataTypes.js"></script>
</body>
</html>